---
	import Base from '../_includes/base.astro'
	
	import '../styles/style.global.css'
	
	import '../layouts/navbar.layout.js'
	import '../layouts/header.layout.js'
	import '../layouts/works.layout.js'

---

<Base title="ultra NFT">
	<navbar-layout client:visible></navbar-layout>
	<header-layout client:visible></header-layout>
	<main>
		<works-layout client:visible></works-layout>
	</main>

</Base>

